body {
    background-image: url(../../assets/images/stars.jpg);
    color: white;
    padding: 0;
    margin: 0;
    font-family: Verdana;
}


.navDesign {
    display: flex;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    justify-content: space-evenly;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.223);
}

.navDesign a {
    text-decoration: none;
    color: white;
    /* background: transparent; */
    /* backdrop-filter: blur(2px); */
}

.navDesign a h1 {
    font-size: 20px;
    margin: 0;
    padding: 10px;
}

.navDesign a:hover {
    background-color: rgba(255, 255, 255, 0.398);
    transform: scale(1.1);
}

img.logo {
    margin-top: 5px;
    width: 130px;
    border-radius: 25%;
}

.left {
    display: flex;
    justify-content: space-between;
    width: 30%;
    padding-left: 30px;
}

.logo {
    width: 210px;
}

.right {
    display: flex;
    justify-content: space-between;
    width: 30%;

    padding-right: 70px;
}


.registerdesign {
    background: transparent;
    backdrop-filter: blur(2px);
    width: 80%;
    margin: auto;
}

.registerdesign h1 {
    text-align: center;
}

.userdate {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    margin: auto;
}

.userdate .userdetail {
    margin: 10px;
}

#fillform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#fillform .inputtag {
    margin: 10px;
}

.inputtag label {
    width: 100px;
}

.inputtag input {
    background: transparent;
    color: white;
    border: none;
    font-size: 16px;
    padding: 3px;
    outline: none;
    border-bottom: 2px solid white;
    /* width: 200px; */
}

#submitbutton {
    font-size: 18px;
    cursor: pointer;
    border: 2px solid white;
    padding: 5px 10px;
    border-radius: 10px;
}

#submitbutton:hover {
    background-color: white;
    color: black;
}



/* FOOTER SECTION */

footer {
    color: white;
    font-family: Verdana;
    margin-top: 30px;
    padding-top: 40px;
    background-color: rgba(0, 0, 0, 0.482);
}

.sectionB_footer {
    margin: auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: white;
}

.sectionB_footer .social {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sectionB_footer .social a {
    color: rgb(174, 173, 173);
}

.sectionB_footer .social a .fa-brands {
    font-size: 24px;
    transition: 800ms ease-in-out;
}

.sectionB_footer .social a .fa-brands:hover {
    transform: scale(1.4);
    color: white;
}

.sectionB_footer .copyright p {
    margin: 0;
    padding: 0 50px;
}

.sectionC_footer {
    text-align: center;
}

.sectionC_footer p {
    font-size: 14px;
    margin: 0;
    padding: 10px;
}

.sectionC_footer a {
    color: white;
    text-decoration: none;
}