.wrapper {
    margin-left: 5%;
    margin-right: 5%;
  }
  .arrange-left{
    float: left;
  }
  
  .wid-25 {
    width: 25%;
  }
  .next-row{
    clear: both;
  }
  .margin-right-5{
    margin-right: 5%;
  }
.footer {
    /* background-color: #edf1ff; */
    margin-left: -5.5%;
    margin-right: -5.5%;
    padding-left: 5.5rem;
    padding-right: 6rem;
    padding-top: 50px;
    padding-bottom: 20px;
    display: flex;
  }
 
  .footer .contact-list {
    padding-top: 37px;
    list-style-type: none;
    line-height: 2.5;
   
  }
  .footer .contact-list .icon {
    color: #d19c97;
    width: 25px;
  }
  .footer .address {
    padding-top: 37px;
    list-style-type: none;
    line-height: 2.5;
    float: left;
    
  }
  .contact-list ul{
    list-style-type: none;
    margin-bottom: 3rem;
  }
  .address ul{
    list-style-type: none;
    
  }
  .footer .address #h3{
    padding-left: 0;
  }
  .footer .address .icon {
    color: #d19c97;
    width: 25px;
  }
  .need-help ul {
    list-style-type: none;
    padding: 0;
    line-height: 2;
  }
  .need-help ul a {
    text-decoration: none;
    color: #333;
  }
  .need-help ul a i {
    padding-right: 5px;
  }
 
  .need-help{
    padding-top: 50px;
  }
  .legal{
    padding-top: 50px;
  }
  .legal ul {
    list-style-type: none;
    padding: 0;
    line-height: 2;
  }
  .legal ul a {
    text-decoration: none;
    color: #333;
  }
  .legal ul a i {
    padding-right: 5px;
  }
  
  .footer .footer-input {
    border: none;
    width: 80%;
    height: 50px;
    margin-bottom: 25px;
    font-size: 18px;
    padding-left: 15px;
  }
  .footer .footer-button {
    border: 0;
    background-color: #d19c97;
    padding: 15px;
    width: 80%;
    font-size: 18px;
  }
  
  .copy-right {
    margin-left: -5.5%;
    margin-right: -5.5%;
    padding-left: 11%;
    padding-top: 2px;
    padding-bottom: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
color: antiquewhite;
width: 100%;
  }
  /* .follow{
    float: left;    
  } */

  