body{
    margin: 0px;
    background:url("./assets/stars.jpg");
    background-size: cover;
    overflow: hidden;
}
.container{
    background-color: white;
    color: white;
    position: absolute;
	width: 9vw;
    height: 14vh;
    left: 2%;
    border-radius:0 0 10px 10px ;
}
.logo_clg{
    width: fit-content;
    position: relative;
    width: 64%;
    left: 17%;
    top: 5%;
}
/* .empty_container{
    background: transparent;
    color: transparent;
    height: 10px;
    width: 500px;
} */
.container_fest{
    background-color: transparent;
    height: 35vh;
    width: 40vw;
    position: absolute;
    top: 100px;
    left: 220px;
}
.fest_tech{
    position: relative;
    width: 80%;
}