body {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Open Sans', Helvetica, sans-serif;
    box-sizing: border-box;
  }
  .wrap{
    max-width: 350px;
    margin: auto;
    padding:20px;
    background: #fff;
    margin-top:100px;
    border-radius: 10px;
    }
    form{
    margin-top:50px;
    }
    input{
    width:100%;
    padding:10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border:none;
    outline: none;
    border:1px solid gray;
    font-size : 15px;
    border-radius: 5px;
    }
    h2{
        margin: 0;
        padding: 0;
        font-size: 2em;
        text-align: center;
    
    }
    input[type=submit] {
    font-size: 16px;
    margin-top:30px;
    color:#fff ;
    font-weight:bold;
    background: #cc0033;
    border:1px solid #fff;
    cursor:pointer;
    }
    input[type=submit]:hover{
    background: orange;
    }
    .overlay{
    height:100%;
    width:100%;
    display: none;
    position: fixed;
    z-index:1;
    top:0;
    left:0;
    background: rgba (0,0,0,0.7);
    }
    .closebtn{
    position: absolute;
    top:20px;
    right:45px;
    font-size: 60px;
    cursor:pointer;
    color: #fff;
    }
  
  /* Assign grid instructions to our parent grid container, mobile-first (hide the sidenav) */
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:
      'header'
      'main'
      'footer';
    height: 100vh;
  }
  
  .menu-icon {
    position: fixed; /* Needs to stay visible for all mobile scrolling */
    display: flex;
    top: 5px;
    left: 10px;
    align-items: center;
    justify-content: center;
    background-color: #DADAE3;
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
    padding: 12px;
  }
  
  /* Give every child element its grid name */
  .header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background-color: #648ca6;
  }
  
  /* Make room for the menu icon on mobile */
  .header__search {
    margin-left: 42px;
  }
  
  .sidenav {
    grid-area: sidenav;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 240px;
    position: fixed;
    overflow-y: auto;
    transform: translateX(-245px);
    transition: all .6s ease-in-out;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    z-index: 2; /* Needs to sit above the hamburger menu icon */
    background-color: #05386b;
  }
  
  .sidenav.active {
    transform: translateX(0);
  }
  
  .sidenav__close-icon {
    position: absolute;
    visibility: visible;
    top: 8px;
    right: 12px;
    cursor: pointer;
    font-size: 20px;
    color: #ddd;
  }
  
  .sidenav__list {
    padding: 0;
    margin-top: 85px;
    list-style-type: none;
  }
  
  .sidenav__list-item {
    padding: 20px 20px 20px 40px;
    color: #ddd;
  }
  
  .sidenav__list-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
  }
  
  .main {
    grid-area: main;
    background-color: #5cdb95;
  }
  
  .main-header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 50px;
    height: 450px;
    background-color: #e3e4e6;
    color: slategray;
  }
  
  .main-overview {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
    grid-auto-rows: 94px;
    grid-gap: 20px;
    margin: 20px;
  }
  
  .overviewcard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #d3d3;
  }
  
  .main-cards {
    column-count: 1;
    column-gap: 20px;
    margin: 20px;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #82bef6;
    margin-bottom: 20px;
    -webkit-column-break-inside: avoid;
    padding: 24px;
    box-sizing: border-box;
  }
  
  /* Force varying heights to simulate dynamic content */
  .card:first-child {
    height: 485px;
  }
  
  .card:nth-child(2) {
    height: 200px;
  }
  
  .card:nth-child(3) {
    height: 265px;
  }
  
  .footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background-color: #090909;
    height: 40px;
  }

  .footer__copyright{
   
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Non-mobile styles, 750px breakpoint */
  @media only screen and (min-width: 46.875em) {
    /* Show the sidenav */
    .grid-container {
      grid-template-columns: 240px 1fr;
      grid-template-areas:
        "sidenav header"
        "sidenav main"
        "sidenav footer";
    }
  
    .header__search {
      margin-left: 0;
    }
  
    .sidenav {
      position: relative;
      transform: translateX(0);
    }
  
    .sidenav__close-icon {
      visibility: hidden;
    }
  }
  
  /* Medium screens breakpoint (1050px) */
  @media only screen and (min-width: 65.625em) {
    /* Break out main cards into two columns */
    .main-cards {
      column-count: 2;
    }
  }

  .events-option{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
    margin-bottom: 10%;
  }
  
  /* button effect */
  #button1{
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px 5px 5px 5px;
  }
  #button1:hover{
    background-color: #008CBA;
    color: rgb(142, 55, 55);
  }
  #button2{
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px 5px 5px 5px;
  }
  #button2:hover{
    background-color: #008CBA;
    color: rgb(142, 55, 55);
  }
  #button3{
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px 5px 5px 5px;
  }
  #button3:hover{
    background-color: #008CBA;
    color: rgb(142, 55, 55);
  }
  #button4{
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px 5px 5px 5px;
  }
  #button4:hover{
    background-color: #008CBA;
    color: rgb(142, 55, 55);
  }
  
  .submit-button {
    background-color: white; 
    color: black; 
    border: 2px solid #ba0c00;
    font-size: 200%;
    margin-left:40% ;
    padding: 5px 5px 5px 5px;
  }
  
  .submit-button:hover{
    background-color: #eb9b89;
    color: rgb(50, 14, 227);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  

 