body {
  margin: 0;
  padding: 0;
  background-color: rgba(34, 34, 34, 0.84);
  position: absolute;
  width: 100%;
}

button {
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: #ffff;
  padding: 1%;
  width: 100%;
  margin: 1% 5%;
}

.navbar {
  background-color: #5ca1c3;
  display: flex;
  justify-content: space-between;
  /* position: fixed; */
  width: 100%;
  box-shadow: rgba(244, 244, 244, 0.35) 0px 5px 15px;
}

.logo-icon {
  width: 40px;
  padding: 1%;
}

.logo-icon img {
  width: 100%;
}

.user-detail {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 1%;
}

.user-detail .img-user {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-pic {
  width: 100%;
  border-radius: 50%;
}

.user-details,.event-details {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: flex-start;
  margin: 2%;
  padding: 1%;
  background-color: rgb(124, 165, 240);
  box-shadow: rgba(244, 244, 244, 0.35) 0px 5px 15px;
  height: 40vh;
  border-radius: 15px;
}

.event-overlay {
  display: none;
}

.event-togglers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.event-detail {
  width: 97%;
  padding: 2%;
  margin: 1%;
  /* height: 60vh; */
}

.events {
  margin: 1%;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 10vh;
  width: 95%; 
  background-color: aliceblue;
  border-radius: 15px;
}

.event-strips {
  position: absolute; 
}

.events:hover .event-overlay {
  display: flex;
  position: relative;
  z-index: 5;
  background-color: rgb(78, 78, 79);
  opacity: 50%;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}