@import "./fontawesome/scss/fontawesome.scss";
*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.html{
    font-size: 62.5%;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.navbar {
    box-shadow: 0px 5px 10px 0px #aaa;
    position: sticky;
    width: 100%;
    background: #fff;
      background-color: rgb(255, 255, 255);
    color: #000;
    opacity: 0.85;
    z-index: 100;
    background-color: #117964;
    top: 0;
    margin-bottom: 2%;
  }
input#Description {
    padding: 80px;
}
.form-control {
    background: #b98429;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}
.navbar img{
    width: 40px;
}

.menu-items{
    order: 2;
    display: flex;
}
.logo{
    order: 1;
    font-size: 2.3rem;
}

.menu-items li{
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.3rem;
}

.navbar a{
    color: #444;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover{
    color: #117964;
}
.middle {
    position: fixed;
    left:10%;
    top: 42%;
  }
  .menus {
    border-radius: 8px;
    transform: translate(-50%, -50%);
    width: 300px;
    overflow: hidden;
  }
  .menus a {
    display: block;
    padding: 40px 20px;
    position: relative;
    color: white;
  }
  .menus .item {
    border-top: 1px solid #2980b9;
  }
  .menus .item > a {
    background: #3498db;
  }
  .menus .item > a i {
    margin-right: 10px;
  }
  .menus .item > a:before {
    content: '';
    width: 14px;
    height: 14px;
    position: absolute;
    left: 20px;
    bottom: -7px;
    background: #3498db;
    transform: rotate(45deg);
    visibility: hidden;
  }
  .menus .item:target > a:before {
    visibility: visible;
  }
  .menus .item:target .sub-menus {
    max-height: 10em;
  }
  
  .sub-menus {
    background: #333;
    overflow: hidden;
    transition: max-height .3s;
    max-height: 0;
  }
  .sub-menus a {
    font-size: 14px;
    padding: 16px 26px;
    margin-top: 4px;
    position: relative;
  }
  .sub-menus a:before {
    content: '';
    width: 6px;
    height: 100%;
    background: #3498db;
    position: absolute;
    left: 0;
    top: 0;
    transition: .3s;
    opacity: 0;
  }
  .sub-menus a:hover:before {
    opacity: 1;
}
.manage_div{
    position: relative;
    left: 26%;
    top: 15%;
    border-radius: 8px;
    /* overflow-x: hidden;
    overflow-y: visible; */
}
.manager_sec{
    padding-bottom: 19%;
    background: #29b984;
    text-align: center;
    width: 600px;
    height: 300px;
    
}
.description {
    padding-bottom: 20% !important;
    display: block;
    text-align: center;
    width: 70% !important;
    height: 300px !important;
    padding-top: 5%;
  }
.responsive-table {
    padding-right: 30%;
  }
.Registration h2{
    padding-right: 30%;
}


.Registration{
    padding-bottom: 40%;
    padding-top: 2%;
    margin-bottom: 100px;
    display: block;
    text-align: center;
    width: 100%;
    height: 300px;

   
}
.middle {
    position: fixed;
    left:10%;
    top: 42%;
  }
.right {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 1s, opacity 1s linear;
    -moz-transition: visibility 1s, opacity 1s linear;
    -o-transition: visibility 1s, opacity 1s linear;
    transition: visibility 1s, opacity 1s linear;
}
.right-visible{
    opacity:1;
    visibility: visible;
}

.responsive-table li{
      border-radius: 3px;
      padding: 25px 30px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;
    }
    .table-header {
      background-color: hsl(184, 9%, 62%);
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 0.03em;
    }
    .table-row {
      background-color: #ffffff;
      box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    }
    .col-1 {
      flex-basis: 10%;
    }
    .col-2 {
      flex-basis: 40%;
    }
    .col-3 {
      flex-basis: 25%;
    }
    .col-4 {
      flex-basis: 25%;
    }
    .col-5 {
        flex-basis: 25%;
      }
    .col-6 {
        flex-basis: 25%;
      }
    .col-7 {
        flex-basis: 25%;
      }
    .col-8 {
        flex-basis: 25%;
      }
    .col-9 {
        flex-basis: 25%;
      }
    .col-10 {
        flex-basis: 25%;
      }

@media all and (max-width: 767px) {
      .table-header {
        display: none;
      }
      li {
        display: block;
      }
      .col {
        
        flex-basis: 100%;
        
      }
      .col {
        display: flex;
        padding: 10px 0;
       
      }
      .col:before {
        color: #6C7A89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
      }
    }
  

@media (max-width: 768px){
    .navbar{
        opacity: 0.95;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines{
        display: block;
    }

    .navbar-container{
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container input[type="checkbox"]{
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .navbar-container .hamburger-lines{
        display: block;
        height: 28px;
        width: 35px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333;
    }
    
    .navbar-container .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2{
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar .menu-items{
        padding-top: 100px;
        background: #fff;
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 40px;
        transition: transform 0.5s ease-in-out;
        box-shadow:  5px 0px 10px 0px #aaa;
        overflow: scroll;
    }

    .navbar .menu-items li{
        margin-bottom: 1.8rem;
        font-size: 1.1rem;
        font-weight: 500;
    }

    .logo{
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 2.5rem;
    }

    .navbar-container input[type="checkbox"]:checked ~ .menu-items{
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
        transform: rotate(-45deg);
    }

}

@media (max-width: 500px){
    .navbar-container input[type="checkbox"]:checked ~ .logo{
        display: none;
    }
}

