@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkalami&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
  background-image: url("../stars.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Acme', sans-serif;
  background-size: cover;
  overflow-x: hidden;
}
body {
  margin: 0;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
.full-navbar{
  display: block;
  background-color: aqua;
}
#navbar {
  transition: top 0.3s;
}

.navbar {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 65%, #000000 100%), url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.com%2Ffree-photos-vectors%2Frectangle-frame-png%2F2&psig=AOvVaw2Mi4a2dGgMl7npYhzi0sy2&ust=1665321130428000&source=images&cd=vfe&ved=0CAoQjRxqFwoTCJjQoOfa0PoCFQAAAAAdAAAAABAD);
    background-color: 	#008080;
    background-size: cover;
    background-position: center;
    height: 58px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    position: fixed;
    top: 0px;
    width: 100%;
  }
.fullnavbar a {
    text-decoration: none;
    height: 29px;
    font-family: 'Acme', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    text-decoration: none;
  }
.a {
    text-decoration: none !important;
    background-color: transparent;
  }

.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
  }

img.logo {
    margin-top: 5px;
    width: 130px;
    border-radius: 25%;
  }
.left {
    display: flex;
    justify-content: space-between;
    width: 30%;
    padding-left: 30px;
  }
.logo {
    width: 210px;
  }
.right {
    display: flex;
    justify-content: space-between;
    width: 30%;
    padding-right: 55px;
  }



  .event_about_container{
    background-color:transparent ;
    position: relative;
    width: 65vw;
    height: 68vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%,15%);
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }
  .left_event_about{
    display: flex;
    flex-direction: column;
  }

  .robot_event_img{
    width: 90%;
    position: relative;
    left: 4%;
  }
  .title_event{
    position: relative;
    left: 27%;
    width: fit-content;
    color: white;
  }
  .money_prize{
    position: relative;
    left: 37%;
    margin-top:-10px ;
    color: white;
  }
  .problem_state_link{
    text-decoration: none;
    cursor: pointer;
    color: black;
  }
  .problem_state{
    width:12vw;
    position: relative;
    border-radius: 10px;
    height: 5vh;
    padding: 5px;
    font-size: 16px;
    font-family: 'Alkalami', serif;
    left: 20%;
  }
  .right_event_about{
    background-color: black;
    position: relative;
    width: 50vw;
    display: flex;
    flex-direction: column;
  }
  .title_nav{
    background-color: #008080;
    position: relative;
    height: 5vh;
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 22px;
    justify-content: space-between;
    overflow: hidden;
  }
  .text_settle:nth-child(1){
    position: relative;
    left: 2%;
    top: 10%;
    cursor: pointer;
  }
  .text_settle{
    position: relative;
    top: 10%;
    cursor: pointer;
  }
  .text_settle_last{
    position: relative;
    top: 10%;
    left: -2%;
    cursor: pointer;
  }
  .seperate{
    font-size: 53px;
    position: relative;
    top: -50%;
    cursor: none;
  }
  .about_area{
    background-color: white;
    position: relative;
    height: 33vh;
    width: 40vw;
    left: 4.3%;
    top: 2%;
  }
  .register_event{
    position: relative;
    width: 14vw;
    height: 7vh;
    font-size: 35px;
    font-family: 'Anton', sans-serif;
    letter-spacing: 5px;
    padding-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
    top: 15%;
    left: 34.3%;
  }
  .how_regs{
    position: relative;
    top:13%;
    left: 37%;
    color: white;
    text-decoration: none;
  }
