@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
  --success-color: #2ecc71;
  --error-color: #e74c3c;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
  margin: 0px;
  background: url("../images/stars.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* overflow: hidden; */
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.465);
  /* background: transparent; */
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.navDesign{
  display: flex;
  width: 100%;
  /* position: fixed; */
  top: 0;
  left: 0;
  z-index: 2;
  justify-content: space-evenly;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.223);
}

.navDesign a{
  text-decoration: none;
  color: white;
  /* background: transparent; */
  /* backdrop-filter: blur(2px); */
}

.navDesign a h1{
  font-size: 20px;
  margin: 0;
  padding: 10px;
}

.navDesign a:hover{
  background-color: rgba(255, 255, 255, 0.398);
  transform: scale(1.1);
}


canvas {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  position: fixed;
}

.container_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* height: 100vh; */
  /* padding-right: 5%; */
  /* padding-top: 5%; */
}

.status {
  color: white;
  z-index: 10;
  /* display: flex; */
  justify-content: center;
  padding: 0.5%;
  margin: 1%;
  /* background-color: #ff0000bb;
    border: 2px solid #de1111; */
  border-radius: 10px;
  font-weight: 500;
  font-size: 22px;
  display: none;
}

.wrapper {
  display: flex;
  align-items: center;
  /* height: 80vh; */
  width: 40%;
  min-width: 300px;
}

.container {
  min-width: 300px;
  width: 100%;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.container p{
  color: white;
  text-align: center;
}

.container p a{
  color: white;
}
.form h1 {
  margin: 0 0 20px;
  text-align: center;
  font-weight: 600;
  color: rgb(212, 212, 212);
}

.form {
  padding: 30px 40px;
}


.form-control label {
  display: block;
  margin-bottom: 5px;
  color: rgb(225, 218, 218);
  font-weight: 900;
}

.form-control input {
  display: block;
  width: 100%;
  padding: 10px;
  border: 2px solid #f0f0f0;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 400;
}

.form-control input:focus {
  outline: 0;
  border-color: #777;
}
.form-control input::placeholder {
  font-size: 10px;
}

.form-control.success input {
  border-color: var(--success-color);
}

.form-control.error input {
  border-color: var(--error-color);
}

.form-control small {
  /* position: absolute; */
  bottom: 0;
  left: 0;
  color: var(--error-color);
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}

.form-control fieldset {
  color: rgb(212, 212, 212);
  font-weight: 600;
  border-radius: 10px;
}

.form-control .radio-set {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.form-control .radio-set input {
  width: 10%;
  margin: 0% 1%;
}

.form-control .radio-set label {
  margin: 0%;
  width: 80%;
}

.form-control .social-handles input {
  margin: 2% auto;
}

.form button {
  display: block;
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border: 2px solid #3498dbb9;
  border-radius: 20px;
  background-color: #3498dbc9;
  color: rgb(212, 212, 212);
  font-size: 16px;
  font-weight: bolder;
  cursor: pointer;
  transition: 500ms;
  font-weight: 700;
}

.form button:hover {
  transform: scale(1.1);
}

.techfest_logo {
  background-color: transparent;
  /* left: 10vw; */
  /* height: 20vh; */
  width: 40vw;
  /* top: 30%; */
  color: white;
  /* position: fixed; */
}
.techfest_logo h1{
  width: 100%;
  font-family: Verdana;
  font-size: 22px;
}
.techfest_logo h2{
  width: 100%;
  font-family: Verdana;
  font-size: 24px;
  text-align: end;
}
.fest_logo_img {
  width: 100%;
}
.main {
  width: inherit;
  height: inherit;
  font-family: "Yeseva One", cursive;
  /* top: -50vh; */
  left: 0;
}

/* Astronaut CSS */
#astronaut > img {
  padding-top: 0;
  display: block;
  left: 49%;
  top: 50%;
  width: 150px;
  height: 150px;
  animation: anim 20s linear infinite;
}

#astronaut2 > img {
  padding-top: 150px;
  display: block;
  left: 0;
  top: 40px;
  width: 200px;

  animation: anim2 20s linear infinite;
  animation-delay: 1s;
}

@media (max-width:767px) {
  .techfest_logo{
    width: 90%;
  }
  .container_1{
    flex-direction: column;
    height: fit-content
  }
  .wrapper {
    width: 90%;
  }
  
}