@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  margin: 0px;
  padding: 0;
  /*background: #191d1e;*/
  background: url("../stars.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  /* cursor: none; */
}

.main-section {
  /* padding-top: 10vh; */
  width: 95vw;
  margin: auto;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.loader {
  z-index: 10;
  overflow: hidden;
}

.hero_section {
  background-color: transparent;
  height: 100vh;
  width: 100vw;
  /* position: absolute; */
  /* display: block; */
}

.secondpartherosection {
  background-color: transparent;
  height: 100vh;
  width: 100vw;
  position: relative;
  top: 100%;
  transform: rotate(180deg);
  /* scale: -1; */
}

#reverse {
  background-color: transparent;
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  top: 95%;
  transform: rotate(180deg);
  /* position: relative;
  top: 0; */
}

#canvas {
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0;
  background-color: transparent;
  opacity: 0.8;
  z-index: -1;
}

/* #nothing1{
  width: 100%;
  height: 10%;
  position: absolute;
  background-color: white;
  z-index: 1;
  top: 50%;
} */
.techfest_logo {
  background-color: transparent;
  /* position: absolute; */
  height: 40vh;
  width: 60%;

  display: flex;
  align-items: center;
  justify-content: center;
  /* top: 12%; */
}

.fest_logo_img {
  /* position: relative; */
  width: 70%;
  height: 100%;
  /* left: 23%; */
}

.timer_design {
  width: 40%;
}

.container {
  background-color: white;
  color: white;
  position: absolute;
  width: 9vw;
  height: 14vh;
  /* top: -1%; */
  left: 2%;
  border-radius: 0 0 10px 10px;
}

#particles-js {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.logo_clg {
  width: fit-content;
  position: relative;
  width: 64%;
  left: 17%;
  top: 5%;
}

.empty_container {
  background: transparent;
  color: transparent;
  height: 10px;
  width: 500px;
}

.container_fest {
  background-color: transparent;
  height: 35vh;
  width: 40vw;
  position: absolute;
  top: 100px;
  left: 220px;
}

.fest_tech {
  position: relative;
  width: 80%;
}

.container_timer {
  background-color: transparent;
  /* height: 25vh; */
  /* width: 30vw; */
  /* position: absolute;
  top: 17%;
  left: 66%; */
  display: flex;
  flex-direction: row;
}

.days_container {
  position: relative;
  background-color: transparent;
  color: white;
  height: 15vh;
  width: 6vw;
  border-radius: 8px;
  box-shadow: 3px 3px 3px grey;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.days_text {
  font-family: "Playfair Display", serif;
  font-size: 42px;
  font-weight: 700;
  /* margin: auto; */
  width: fit-content;
  padding-left: 17px;
  align-items: center;
}

.hours_text {
  font-family: "Playfair Display", serif;
  font-size: 42px;
  /* margin: auto; */
  font-weight: 700;
  padding-left: 28px;
  align-items: center;
}

.minutes_text {
  font-family: "Playfair Display", serif;
  font-size: 42px;
  /* margin: auto; */
  font-weight: 700;
  padding-left: 24px;
  align-items: center;
}

.sec_text {
  font-family: "Playfair Display", serif;
  font-size: 42px;
  /* margin: auto; */
  font-weight: 700;
  padding-left: 21px;
  align-items: center;
}

.days_char {
  font-size: 20px;
  padding-left: 15px;
  font-family: "Josefin Sans", sans-serif;
}

.starts_in_container {
  background-color: transparent;
  /* position: absolute; */
  width: 100%;
  height: 35px;
  /* top: 10%;
  left: 64%; */
}

.wrapper {
  width: 100%;
  height: 100%;
  /* position: absolute; */
  overflow: hidden;
  background: transparent;
  font-size: 55px;
}

.main {
  width: inherit;
  height: inherit;
  font-family: "Yeseva One", cursive;
}

.main h1 {
  width: 70%;
  /* width: 50%; */
  margin: 0 auto 0 auto;
  color: #ffffff;
  font-size: 20px;
  line-height: 1em;
  text-align: center;
  position: relative;
  word-spacing: 6px;
  letter-spacing: 4px;
}

:root {
  --clr-neon: white;
  --clr-bg: hsl(323 11% 16%);
}

.register_button {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.glow-on-hover {
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  /* position: relative; */
  text-align: center;
  /* top: 47vh; */
  /* left: 72.3vw; */
  font-family: "Fredoka One", cursive;
  margin-top: 10px;
}

.glow-on-hover::before {
  pointer-events: none;
  content: "";
  /* position: absolute; */
  background: var(--clr-neon);
  /* top: 120%; */
  /* left: 0; */
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}

.glow-on-hover::after {
  content: "";
  /* position: absolute; */
  /* top: 0; */
  /* bottom: 0; */
  /* left: 0; */
  /* right: 0; */
  box-shadow: 0 0 0.5em 0.5em var(--clr-neon);
  opacity: 0;
  background-color: var(--clr-neon);
  z-index: -1;
  transition: opacity 100ms linear;
}

.glow-on-hover:hover,
.glow-on-hover:focus {
  color: var(--clr-bg);
  background-color: white;
  /* text-shadow: none; */
  cursor: pointer;
}

.glow-on-hover:hover::before,
.glow-on-hover:focus::before {
  opacity: 1;
}

.glow-on-hover:hover::after,
.glow-on-hover:focus::after {
  opacity: 1;
}

.shadow-effect {
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.659);
  /* 0px 3px 3px rgba(255, 255, 255, 0.25),
    2px 6px 3px rgba(255, 255, 255, 0.24),
    4px 9px 3px rgba(255, 255, 255, 0.23),
    6px 12px 3px rgba(255, 255, 255, 0.22),
    8px 15px 3px rgba(255, 255, 255, 0.21),
    10px 18px 3px rgba(255, 255, 255, 0.2),
    12px 21px 3px rgba(255, 255, 255, 0.19); */
  /* 14px 24px 3px rgba(255, 255, 255, 0.18),
    16px 27px 3px rgba(205, 60, 60, 0.17),
    18px 30px 3px rgba(205, 60, 60, 0.16),
    20px 33px 3px rgba(205, 60, 60, 0.15),
    22px 36px 3px rgba(205, 60, 60, 0.14),
    24px 39px 3px rgba(205, 60, 60, 0.13),
    26px 42px 3px rgba(205, 60, 60, 0.12),
    28px 45px 3px rgba(205, 60, 60, 0.11),
    30px 48px 3px rgba(205, 60, 60, 0.1),
    32px 51px 3px rgba(205, 60, 60, 0.09),
    34px 54px 3px rgba(205, 60, 60, 0.08),
    36px 57px 3px rgba(205, 60, 60, 0.06),
    38px 60px 3px rgba(205, 60, 60, 0.05),
    40px 63px 3px rgba(205, 60, 60, 0.04),
    42px 66px 3px rgba(205, 60, 60, 0.03),
    44px 69px 3px rgba(205, 60, 60, 0.02),
    46px 72px 3px rgba(205, 60, 60, 0.01);; */
}

#particles-js {
  overflow: hidden;
}


@media (max-width: 778px) {
  .hero_section{
    height: fit-content;
  }
  .main-section {
    height: fit-content;
  }

  .techfest_logo {
    margin-top: 60px;
    width: 90%;
    margin-bottom: 20px;
  }

  .timer_design {
    width: 60%;
    /* height: 200px; */
    margin-bottom: 10px;
  }

  .main h1 {
    font-size: 15px;
  }

  .glow-on-hover {
    font-size: 15px;
  }

}

@media screen and (max-width: 1100px) {
  .container {
    background-color: white;
    color: white;
    position: absolute;
    width: 9vw;
    height: 13vh;
    /* top: -1%; */
    left: 2%;
    border-radius: 0 0 10px 10px;
  }

  .days_container {
    /* position: relative; */
    background-color: transparent;
    height: 12vh;
    width: 6vw;
    border-radius: 8px;
    box-shadow: 3px 3px 3px grey;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .days_text {
    font-size: 35px;
    /* padding-left: 11px; */
  }

  .hours_text {
    font-size: 35px;
    padding-left: 17px;
  }

  .minutes_text {
    font-size: 35px;
    padding-left: 17px;
  }

  .sec_text {
    font-size: 35px;
    padding-left: 17px;
  }

  .days_char {
    font-size: 15px;
    padding-left: 11px;
  }

  /* #canvas{
        display: none;
    } */
}

@media screen and (max-width: 901px) {
  body {
    margin: 0px;
    /*background: #191d1e;*/
    background: url("../stars1100px.jpg");
    /* background-repeat: no-repeat; */
    background-size: cover;
    /* overflow: hidden; */
    height: 100%;
    cursor: none;
  }

  .container {
    background-color: white;
    color: white;
    position: absolute;
    width: 9vw;
    height: 11vh;
    /* top: -1%; */
    left: 2%;
    border-radius: 0 0 10px 10px;
  }

  .days_container {
    position: relative;
    background-color: transparent;
    height: 10vh;
    width: 6vw;
    border-radius: 8px;
    box-shadow: 3px 3px 3px grey;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .days_text {
    font-size: 26px;
  }

  .hours_text {
    font-size: 26px;
    padding-left: 16px;
  }

  .minutes_text {
    font-size: 26px;
    padding-left: 17px;
  }

  .sec_text {
    font-size: 26px;
    padding-left: 17px;
  }

  .days_char {
    font-size: 12px;
    padding-left: 11px;
  }
}

@media screen and (max-width: 751px) {
  .container {
    background-color: white;
    color: white;
    position: absolute;
    width: 9vw;
    height: 10vh;
    /* top: -1%; */
    left: 2%;
    border-radius: 0 0 10px 10px;
  }

  .days_container {
    position: relative;
    background-color: transparent;
    height: 10vh;
    width: 6vw;
    border-radius: 8px;
    box-shadow: 3px 3px 3px grey;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .days_text {
    font-size: 24px;
    padding-left: 11px;
  }

  .hours_text {
    font-size: 24px;
    padding-left: 11px;
  }

  .minutes_text {
    font-size: 26px;
    padding-left: 11px;
  }

  .sec_text {
    font-size: 26px;
    padding-left: 12px;
  }

  .days_char {
    font-size: 9.5px;
    padding-left: 10px;
  }
}

@media screen and (max-width: 673px) {
  .container {
    background-color: white;
    color: white;
    position: absolute;
    width: 9vw;
    height: 9vh;
    /* top: -1%; */
    left: 2%;
    border-radius: 0 0 10px 10px;
  }

  .logo_clg {
    width: fit-content;
    position: relative;
    width: 64%;
    left: 17%;
    top: 8%;
  }

  .days_text {
    font-size: 24px;
    padding-left: 11px;
  }

  .hours_text {
    font-size: 24px;
    padding-left: 9px;
  }

  .minutes_text {
    font-size: 26px;
    padding-left: 9px;
  }

  .sec_text {
    font-size: 26px;
    padding-left: 9px;
  }

  .days_char {
    font-size: 9.5px;
    padding-left: 8.5px;
  }
}

@media screen and (max-width: 426px) {

  #canvas {
    /* position: fixed; */
    display: none;
  }

  .container {
    background-color: white;
    color: white;
    position: absolute;
    width: 9vw;
    height: 7vh;
    /* top: -1%; */
    left: 2%;
    border-radius: 0 0 10px 10px;
  }

  .logo_clg {
    width: fit-content;
    position: relative;
    width: 67%;
    left: 17%;
    top: 15%;
  }



  .days_container {
    position: relative;
    background-color: transparent;
    height: 8.9vh;
    width: 10vw;
    border-radius: 8px;
    box-shadow: 3px 3px 3px grey;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media screen and (max-width: 376px) {
  .container {
    background-color: white;
    color: white;
    position: absolute;
    width: 9vw;
    height: 5.5vh;
    /* top: -1%; */
    left: 2%;
    border-radius: 0 0 10px 10px;
  }

  .logo_clg {
    width: fit-content;
    position: relative;
    width: 67%;
    left: 17%;
    top: 15%;
  }

  .days_container {
    position: relative;
    background-color: transparent;
    height: 9vh;
    width: 11vw;
    border-radius: 8px;
    box-shadow: 3px 3px 3px grey;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media screen and (max-width: 321px) {
  .container {
    background-color: white;
    color: white;
    position: absolute;
    width: 9vw;
    height: 6vh;
    /* top: -1%; */
    left: 2%;
    border-radius: 0 0 10px 10px;
  }

  .days_container {
    position: relative;
    background-color: transparent;
    height: 8vh;
    width: 12vw;
    border-radius: 8px;
    box-shadow: 3px 3px 3px grey;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .days_text {
    font-size: 19px;
    padding-left: 11px;
  }

  .hours_text {
    font-size: 19px;
    padding-left: 11px;
  }

  .minutes_text {
    font-size: 19px;
    padding-left: 11px;
  }

  .sec_text {
    font-size: 19px;
    padding-left: 11px;
  }

  .days_char {
    font-size: 7px;
    padding-left: 10px;
  }
}


.scrolldesign {
  /* margin-top: 300px; */
  width: 100%;
  /* height: 600px; */
  overflow: auto;
  /* white-space: nowrap; */
  /* padding: 5px 70px 5px 20px; */
  background: transparent;
  /* height: 100%; */
  border-radius: 15px;
  color: white;
  /* overflow-y: auto; */
  scrollbar-width: none;
  overflow-x: scroll;
  transition: 2s ease-in-out;
}

.scrollView {
  scroll-behavior: auto;
  display: inline-flex;
  overflow-x: hidden;
  transition: 2s ease-in-out;
  /* scrollbar-width: none; */
}

.event_design {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.event_design .heading_event {
  font-size: 30px;
  /* margin: 30px; */
  padding: 50px;
  font-style: normal;
  font-family: Verdana;
}

.scrollView section {
  width: 40vw;
  height: 30vw;
  word-wrap: break-word;
  overflow: hidden;
  /* margin: 10px 25vw 80px ; */
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}

.scrollView section .block {
  width: 100%;
  height: 100%;
  position: relative;
}

.block::before {
  content: "";
  background-image: url(https://images.unsplash.com/photo-1541363111435-5c1b7d867904?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8ZHVtbXl8ZW58MHx8MHx8&w=1000&q=80);
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
}

.technical_event::before {
  background-image: url(../images/technical_banner.jpg);
}


.cultural_event::before {
  background-image: url(../images/cultural_banner.jpg);
}

.block:hover {
  opacity: 1;
}

.block:hover::before {
  /* display: none; */
  opacity: .9;
  transition: 1100ms ease-in-out;
  z-index: -1;
}

.scrollView section .block .details {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  opacity: 0;
  transition: 1300ms ease-in-out;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scrollView section .block .details:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.544);
}

.scrollView section .block .details h1 {
  font-size: 24px;
}

.scrollView section .block .details p {
  word-wrap: break-word;
  width: 100%;
  font-family: Verdana;
  /* height: 100%; */
}

.button_enentMove {
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}

.button_enentMove .fa-solid {
  font-size: 24px;
  color: black;
}

.buttonscreenSet2 {
  display: none;
}

@media (max-width:767px) {
  .event_design {
    flex-direction: column;
  }

  .scrollView section {
    width: 80vw;
    height: 60vw;
  }

  .button_enentMove {
    width: 80px;
    margin: 30px;
  }

  .buttonscreenSet1 {
    display: none;
  }

  .buttonscreenSet2 {
    display: flex;
  }
}


footer {
  color: white;
  font-family: Verdana;
  margin-top: 80px;
  padding-top: 40px;
  background-color: rgba(0, 0, 0, 0.482);
}

.sectionB_footer {
  margin: auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: white;
}

.sectionB_footer .social {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sectionB_footer .social a {
  color: rgb(174, 173, 173);
}

.sectionB_footer .social a .fa-brands {
  font-size: 24px;
  transition: 800ms ease-in-out;
}

.sectionB_footer .social a .fa-brands:hover {
  transform: scale(1.4);
  color: white;
}

.sectionB_footer .copyright p {
  margin: 0;
  padding: 0 50px;
}

.sectionC_footer {
  text-align: center;
}

.sectionC_footer p {
  font-size: 20px;
  margin: 0;
  padding: 10px;
}

.sectionC_footer a {
  color: white;
  text-decoration: none;
}