@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

html{
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.465);
  /* background: transparent; */
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  margin: 0px;
  padding: 0;
  /*background: #191d1e;*/
  background: url("../images/stars.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.toup{
  position: fixed;
  bottom: 2%;
  color: white;
  right: 3%;
  z-index: 2;
  display: none;
}

.toup .fa-solid{
  width: 50px;
  background-color: white;
  border-radius: 50px;
  /* border: 2px solid white; */
  height: 50px;
  /* padding: 20px 20px; */
  display: flex;
  color: black;
  align-items: center;
  justify-content: center;
  /* font-weight: normal; */
  font-size: 30px;
  transition: 800ms ease-in-out;
  cursor: pointer;
}

.toup .fa-solid:hover{
  transform: scale(1.2);
  backdrop-filter: blur(.5px);
}
.main-section {
  /* padding-top: 10vh; */
  width: 95vw;
  margin: auto;
  height: 85vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.loader {
  z-index: 10;
  overflow: hidden;
}

.hero_section {
  background-color: transparent;
  width: 100vw;
  /* position: absolute; */
  /* display: block; */
}

.secondpartherosection {
  background-color: transparent;
  height: 100vh;
  width: 100vw;
  position: relative;
  top: 100%;
  transform: rotate(180deg);
  /* scale: -1; */
}

.tobottom{
  color: white;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tobottom .fa-solid{
  width: 60px;
  /* background-color: white; */
  border-radius: 10px;
  /* border: 2px solid white; */
  height: 60px;
  /* padding: 20px 20px; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-weight: normal; */
  font-size: 40px;
  color: white;
  transition: 800ms ease-in-out;
  cursor: pointer;
}

.tobottom .fa-solid:hover{
  transform: scale(1.2);
  backdrop-filter: blur(.5px);
}

#reverse {
  background-color: transparent;
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  top: 95%;
  transform: rotate(180deg);
  /* position: relative;
  top: 0; */
}

#canvas {
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0;
  background-color: transparent;
  opacity: 0.5;
  z-index: -1;
}

/* #nothing1{
  width: 100%;
  height: 10%;
  position: absolute;
  background-color: white;
  z-index: 1;
  top: 50%;
} */
.techfest_logo {
  background-color: transparent;
  /* position: absolute; */
  /* height: 40vh; */
  width: 70%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  /* top: 12%; */
  color: white;
}

.techfest_logo h1{
  width: 60%;
  font-family: Verdana;
  font-size: 22px;
}
.techfest_logo h2{
  width: 60%;
  font-family: Verdana;
  font-size: 24px;
  text-align: end;
}
.fest_logo_img {
  /* position: relative; */
  width: 70%;
  height: 100%;
  /* left: 23%; */
}

.timer_design {
  width: 30%;
}

.timer_design h1{
  color: white;
  text-align: center;
  font-family: Verdana;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  width: 200px;
  padding: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  
}

.logo_clg {
  /* width: fit-content; */
  /* position: relative; */
  width: 80px;
  height: 80px;
  /* left: 17%; */
  /* top: 5%; */
}

.container h1 {
  padding: 0;
  margin: 0;
  width: 0px;
  height: 80px;
  border-left: 2px solid black;
}

.navdesign {
  display: flex;
  height: 70px;
  width: calc( (100% - 200px)/2 );
  margin-top: 0;
  justify-content: space-evenly;
  /* align-items: flex-start; */
}


/* navbar */
.navbar {
  display: flex;
  flex-direction: row;
  /* z-index: 1000000; */
  /* align-items: center; */
  justify-content: space-around;
  /* height: 100px; */
  width: 100%;
  background-color: transparent;
  backdrop-filter: blur(2px);
}

.navbar .link{
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 500;
  font-family: Cascadia Code;
  height: calc(100% - 20px );
  /* width: 100px; */
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: 200ms ease-in-out;
  cursor: pointer;
  /* border: 1px solid rgba(255, 255, 255, 0.098); */
  /* border-radius: 20px; */
}

.navbar .link:hover {
  background-color: rgba(255, 255, 255, 0.398);
  transform: scale(1.1);
  /* box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.651); */
}

.navbar .navdesign a{
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  transition: 500ms;
}

#particles-js {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -2;
}



.empty_container {
  background: transparent;
  color: transparent;
  height: 10px;
  width: 500px;
}

.container_fest {
  background-color: transparent;
  height: 35vh;
  width: 40vw;
  position: absolute;
  top: 100px;
  left: 220px;
}

.fest_tech {
  position: relative;
  width: 80%;
}

.container_timer {
  background-color: transparent;
  /* height: 25vh; */
  /* width: 30vw; */
  /* position: absolute;
  top: 17%;
  left: 66%; */
  display: flex;
  flex-direction: row;
}

.days_container {
  position: relative;
  background-color: transparent;
  color: white;
  height: 15vh;
  width: 6vw;
  border-radius: 8px;
  box-shadow: 3px 3px 3px grey;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.days_text {
  font-family: "Playfair Display", serif;
  font-size: 42px;
  font-weight: 700;
  /* margin: auto; */
  width: fit-content;
  padding-left: 17px;
  align-items: center;
}

.hours_text {
  font-family: "Playfair Display", serif;
  font-size: 42px;
  /* margin: auto; */
  font-weight: 700;
  padding-left: 28px;
  align-items: center;
}

.minutes_text {
  font-family: "Playfair Display", serif;
  font-size: 42px;
  /* margin: auto; */
  font-weight: 700;
  padding-left: 24px;
  align-items: center;
}

.sec_text {
  font-family: "Playfair Display", serif;
  font-size: 42px;
  /* margin: auto; */
  font-weight: 700;
  padding-left: 21px;
  align-items: center;
}

.days_char {
  font-size: 20px;
  padding-left: 15px;
  font-family: "Josefin Sans", sans-serif;
}

.starts_in_container {
  background-color: transparent;
  /* position: absolute; */
  width: 100%;
  height: 35px;
  /* top: 10%;
  left: 64%; */
}

.wrapper {
  width: 100%;
  height: 100%;
  /* position: absolute; */
  overflow: hidden;
  background: transparent;
  font-size: 55px;
}

.main {
  width: inherit;
  height: inherit;
  font-family: "Yeseva One", cursive;
}

.main h1 {
  width: 70%;
  /* width: 50%; */
  margin: 0 auto 0 auto;
  color: #ffffff;
  font-size: 20px;
  line-height: 1em;
  text-align: center;
  position: relative;
  word-spacing: 6px;
  letter-spacing: 4px;
}

:root {
  --clr-neon: white;
  --clr-bg: hsl(323 11% 16%);
}

.register_button {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.glow-on-hover {
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  padding: 0.35em 1.2em;
  border-radius: 0.25em;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  /* position: relative; */
  text-align: center;
  /* top: 47vh; */
  /* left: 72.3vw; */
  font-family: "Fredoka One", cursive;
  margin-top: 10px;
  backdrop-filter: blur(2px);
}

.glow-on-hover::before {
  pointer-events: none;
  content: "";
  /* position: absolute; */
  background: var(--clr-neon);
  /* top: 120%; */
  /* left: 0; */
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}

.glow-on-hover::after {
  content: "";
  /* position: absolute; */
  /* top: 0; */
  /* bottom: 0; */
  /* left: 0; */
  /* right: 0; */
  /* box-shadow: 0 0 0.5em 0.5em var(--clr-neon); */
  opacity: 0;
  background-color: var(--clr-neon);
  z-index: -1;
  transition: opacity 100ms linear;
}

.glow-on-hover:hover,
.glow-on-hover:focus {
  color: var(--clr-bg);
  background-color: white;
  /* text-shadow: none; */
  cursor: pointer;
}

.glow-on-hover:hover::before,
.glow-on-hover:focus::before {
  opacity: 1;
}

.glow-on-hover:hover::after,
.glow-on-hover:focus::after {
  opacity: 1;
}

.shadow-effect {
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.659);
}

#particles-js {
  overflow: hidden;
}


@media (max-width: 778px) {
  .hero_section {
    height: fit-content;
  }

  .main-section {
    height: fit-content;
  }

  .techfest_logo {
    margin-top: 30px;
    width: 100%;
    margin-bottom: 20px;
  }

  .techfest_logo h1{
    text-align: center;
    width: 95%;
  }
  
  .techfest_logo h2{
    text-align: center;
    width: 95%;
  }
  .timer_design {
    width: 60%;
    /* height: 200px; */
    margin-bottom: 60px;
  }

  .main h1 {
    font-size: 15px;
  }

  .glow-on-hover {
    font-size: 15px;
  }

}

@media screen and (max-width: 1100px) {


  .days_container {
    /* position: relative; */
    background-color: transparent;
    height: 12vh;
    width: 6vw;
    border-radius: 8px;
    box-shadow: 3px 3px 3px grey;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .days_text {
    font-size: 35px;
    /* padding-left: 11px; */
  }

  .hours_text {
    font-size: 35px;
    padding-left: 17px;
  }

  .minutes_text {
    font-size: 35px;
    padding-left: 17px;
  }

  .sec_text {
    font-size: 35px;
    padding-left: 17px;
  }

  .days_char {
    font-size: 15px;
    padding-left: 11px;
  }

  /* #canvas{
        display: none;
    } */
}

@media screen and (max-width: 901px) {
  body {
    margin: 0px;
    /*background: #191d1e;*/
    /* background: url("../stars1100px.jpg"); */
    /* background-repeat: no-repeat; */
    background-size: cover;
    /* overflow: hidden; */
    height: 100%;
    /* cursor: ; */
  }


  .days_container {
    position: relative;
    background-color: transparent;
    height: 10vh;
    width: 6vw;
    border-radius: 8px;
    box-shadow: 3px 3px 3px grey;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .days_text {
    font-size: 26px;
  }

  .hours_text {
    font-size: 26px;
    padding-left: 16px;
  }

  .minutes_text {
    font-size: 26px;
    padding-left: 17px;
  }

  .sec_text {
    font-size: 26px;
    padding-left: 17px;
  }

  .days_char {
    font-size: 12px;
    padding-left: 11px;
  }
}

@media screen and (max-width: 751px) {


  .days_container {
    position: relative;
    background-color: transparent;
    height: 10vh;
    width: 6vw;
    border-radius: 8px;
    box-shadow: 3px 3px 3px grey;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .days_text {
    font-size: 24px;
    padding-left: 11px;
  }

  .hours_text {
    font-size: 24px;
    padding-left: 11px;
  }

  .minutes_text {
    font-size: 26px;
    padding-left: 11px;
  }

  .sec_text {
    font-size: 26px;
    padding-left: 12px;
  }

  .days_char {
    font-size: 9.5px;
    padding-left: 10px;
  }
}

@media screen and (max-width: 673px) {


  .days_text {
    font-size: 24px;
    padding-left: 11px;
  }

  .hours_text {
    font-size: 24px;
    padding-left: 9px;
  }

  .minutes_text {
    font-size: 26px;
    padding-left: 9px;
  }

  .sec_text {
    font-size: 26px;
    padding-left: 9px;
  }

  .days_char {
    font-size: 9.5px;
    padding-left: 8.5px;
  }
}

@media screen and (max-width: 426px) {

  #canvas {
    /* position: fixed; */
    display: none;
  }


  .days_container {
    position: relative;
    background-color: transparent;
    height: 8.9vh;
    width: 10vw;
    border-radius: 8px;
    box-shadow: 3px 3px 3px grey;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media screen and (max-width: 376px) {



  .days_container {
    position: relative;
    background-color: transparent;
    height: 9vh;
    width: 11vw;
    border-radius: 8px;
    box-shadow: 3px 3px 3px grey;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media screen and (max-width: 321px) {


  .days_container {
    position: relative;
    background-color: transparent;
    height: 8vh;
    width: 12vw;
    border-radius: 8px;
    box-shadow: 3px 3px 3px grey;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .days_text {
    font-size: 19px;
    padding-left: 11px;
  }

  .hours_text {
    font-size: 19px;
    padding-left: 11px;
  }

  .minutes_text {
    font-size: 19px;
    padding-left: 11px;
  }

  .sec_text {
    font-size: 19px;
    padding-left: 11px;
  }

  .days_char {
    font-size: 7px;
    padding-left: 10px;
  }
}


.scrolldesign {
  /* margin-top: 300px; */
  width: 100%;
  /* height: 600px; */
  overflow: auto;
  /* white-space: nowrap; */
  /* padding: 5px 70px 5px 20px; */
  background: transparent;
  /* height: 100%; */
  border-radius: 15px;
  color: white;
  /* overflow-y: auto; */
  scrollbar-width: none;
  overflow-x: scroll;
  transition: 2s ease-in-out;
}

.scrollView {
  scroll-behavior: auto;
  display: inline-flex;
  overflow-x: hidden;
  transition: 2s ease-in-out;
  /* scrollbar-width: none; */
}

.event_design {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.event_design .heading_event {
  font-size: 30px;
  /* margin: 30px; */
  text-align: center;
  padding: 50px;
  font-style: normal;
  font-family: Verdana;
}

.scrollView section {
  width: 40vw;
  height: 30vw;
  word-wrap: break-word;
  overflow: hidden;
  /* margin: 10px 25vw 80px ; */
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}

.scrollView section .block {
  width: 100%;
  height: 100%;
  position: relative;
}

.block::before {
  content: "";
  background-image: url(https://images.unsplash.com/photo-1541363111435-5c1b7d867904?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8ZHVtbXl8ZW58MHx8MHx8&w=1000&q=80);
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
}

.technical_event::before {
  background-image: url(../images/technical_banner.jpg);
}


.cultural_event::before {
  background-image: url(../images/cultural_banner.jpg);
}

.block:hover {
  opacity: 1;
}

.block:hover::before {
  /* display: none; */
  opacity: .9;
  transition: 1100ms ease-in-out;
  z-index: -1;
}

.scrollView section .block .details {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  opacity: 0;
  transition: 1300ms ease-in-out;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scrollView section .block .details:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.544);
}

.scrollView section .block .details h1 {
  font-size: 24px;
}

.scrollView section .block .details p {
  word-wrap: break-word;
  width: 100%;
  font-family: Verdana;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.button_enentMove {
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}

.button_enentMove .fa-solid {
  font-size: 24px;
  color: black;
}

.buttonscreenSet2 {
  display: none;
}

@media (max-width:767px) {
  .event_design {
    flex-direction: column;
  }

  .scrollView section {
    width: 80vw;
    height: 60vw;
  }

  .button_enentMove {
    width: 80px;
    margin: 30px;
  }

  .buttonscreenSet1 {
    display: none;
  }

  .buttonscreenSet2 {
    display: flex;
  }

  .container{
    height: 60px;
    width: 150px;
  }
  .logo_clg{
    width: 40px;
    height: 40px;
  }

  /* @media (max-width:767px) { */
    .navdesign{
      display: none;
    }
  /* } */
  
}

.sponser_section{
  color: white;
  display: grid;
  /* grid-template-columns: auto auto; */
  grid-template-columns: repeat(auto-fit, 40%);
  gap: 10px;
  /* background-color: #2196F3; */
  padding: 35px;
  align-items: center;
  justify-content: space-around;
  margin: 25px 25px;
  margin-top: 70px;
}

.sponser_section > div{
  background-color: #b4b4b452;
  text-align: center;
  display: grid;
  grid-template-rows: 150px 200px;
  /* gap: 10px; */
  justify-content: space-around;
  /* align-items: center; */
  padding: 10px;
  border-radius: 10px;
}

.heading{
  font-family: "Playfair Display", serif;
  letter-spacing: 2px;
  word-spacing: 4px;
  font-size: xx-large;
  font-weight: bold;
}

.sponser_section>div:hover{
  cursor: pointer;
  background-color: #b4b4b46e;
  transform: scale(1.1);
  transition: all 0.5s;
}

@media (max-width: 800px){
  .sponser_section{
    grid-template-columns: repeat(auto-fill, 400px);
    gap: 50px;
  }

  .heading{
    font-size:x-large;
    word-spacing: 3px;
  }
}

@media (max-width: 500px){
  .sponser_section{
    grid-template-columns: repeat(auto-fill, 280px);
    gap: 50px;
  }
}
/* footer */
footer {
  color: white;
  font-family: Verdana;
  margin-top: 80px;
  padding-top: 40px;
  background-color: rgba(0, 0, 0, 0.482);
}

.sectionB_footer {
  margin: auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: white;
}

.sectionB_footer .contact{
  margin: 10px 15px;
  padding: 10px 0px;
}
.sectionB_footer .contact a{
  color: white;
  text-decoration: none;
}

.sectionB_footer .social {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sectionB_footer .social a {
  color: rgb(174, 173, 173);
}

.sectionB_footer .social a .fa-brands {
  font-size: 24px;
  transition: 800ms ease-in-out;
}

.sectionB_footer .social a .fa-brands:hover {
  transform: scale(1.4);
  color: white;
}

.sectionB_footer .copyright p {
  margin: 0;
  /* padding: 0 50px; */
  text-align: center;
  margin-top: 10px;
}
.sectionB_footer .copyright p a{
  color: white;
}

.sectionC_footer {
  text-align: center;
}

.sectionC_footer p {
  font-size: 14px;
  margin: 0;
  padding: 10px;
}

.sectionC_footer a {
  color: white;
  text-decoration: none;
}

/* By Dhruv Srivastava */

.sidecontainer {
  display: none;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top:25%;
  z-index: 111100000;
}

@media only screen and (max-width: 767px) {
  .sidecontainer {
    display: inline-block;
  }
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: rgb(225, 225, 225);
  margin: 6px 0;
  transition: 0.4s;
  z-index: 111100000;
}

.myhidesidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background: linear-gradient(rgb(33, 33, 33), rgba(17, 17, 17, 0.696)); /* Black*/
  backdrop-filter: blur(5px);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the myhidesidenav */
}

/* The navigation menu links */

.myhidesidenav a {
  padding: 20px;
  text-decoration: none;
  font-size: 36px;
  color: #dadada;
  display: block;
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
}

.myhidesidenav .linkers {
  display: flex;
  flex-direction: column;
  gap:20px;
  margin-top:50px;
}

/* When you mouse over the navigation links, change their color */
.myhidesidenav a:hover {
  color: #ffffff;
}

/* Position and style the close button (top right corner) */
.myhidesidenav .closebtn {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 36px;
  margin-left: 50px;
}