@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

::-webkit-scrollbar {
  width: 10px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  margin: 0px;
  padding: 0;
  /*background: #191d1e;*/
  background: url("../stars.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  /* cursor: none; */
}

.main-section {
  padding-top: 10vh;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
}

.loader {
  z-index: 10;
  overflow: hidden;
}

.landing-page {
  /* height: 300vh; */
  display: none;
}
.hero_section {
  background-color: transparent;
  height: 100vh;
  width: 100vw;
  /* position: absolute; */
  /* display: block; */
}
.secondpartherosection {
  background-color: transparent;
  height: 100vh;
  width: 100vw;
  position: relative;
  top: 100%;
  transform: rotate(180deg);
  /* scale: -1; */
}
#reverse {
  background-color: transparent;
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  top: 95%;
  transform: rotate(180deg);
  /* position: relative;
  top: 0; */
}

#canvas {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: transparent;
  opacity: 0.4;
  z-index: -1;
}
/* #nothing1{
  width: 100%;
  height: 10%;
  position: absolute;
  background-color: white;
  z-index: 1;
  top: 50%;
} */
.techfest_logo {
  background-color: transparent;
  position: absolute;
  height: 40vh;
  width: 70vw;
  top: 12%;
}
.fest_logo_img {
  position: relative;
  width: 46%;
  left: 23%;
}

.container {
  background-color: white;
  color: white;
  position: absolute;
  width: 9vw;
  height: 14vh;
  /* top: -1%; */
  left: 2%;
  border-radius: 0 0 10px 10px;
}
#particles-js {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -2;
}
.logo_clg {
  width: fit-content;
  position: relative;
  width: 64%;
  left: 17%;
  top: 5%;
}
.empty_container {
  background: transparent;
  color: transparent;
  height: 10px;
  width: 500px;
}
.container_fest {
  background-color: transparent;
  height: 35vh;
  width: 40vw;
  position: absolute;
  top: 100px;
  left: 220px;
}
.fest_tech {
  position: relative;
  width: 80%;
}
.container_timer {
  background-color: transparent;
  height: 25vh;
  width: 30vw;
  position: absolute;
  top: 17%;
  left: 66%;
  display: flex;
  flex-direction: row;
}
.days_container {
  position: relative;
  background-color: transparent;
  color: white;
  height: 15vh;
  width: 6vw;
  border-radius: 8px;
  box-shadow: 3px 3px 3px grey;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.days_text {
  font-family: "Playfair Display", serif;
  font-size: 42px;
  font-weight: 700;
  /* margin: auto; */
  width: fit-content;
  padding-left: 17px;
  align-items: center;
}
.hours_text {
  font-family: "Playfair Display", serif;
  font-size: 42px;
  /* margin: auto; */
  font-weight: 700;
  padding-left: 28px;
  align-items: center;
}
.minutes_text {
  font-family: "Playfair Display", serif;
  font-size: 42px;
  /* margin: auto; */
  font-weight: 700;
  padding-left: 24px;
  align-items: center;
}
.sec_text {
  font-family: "Playfair Display", serif;
  font-size: 42px;
  /* margin: auto; */
  font-weight: 700;
  padding-left: 21px;
  align-items: center;
}
.days_char {
  font-size: 20px;
  padding-left: 15px;
  font-family: "Josefin Sans", sans-serif;
}

.starts_in_container {
  background-color: transparent;
  position: absolute;
  width: 35vw;
  height: 14vh;
  top: 10%;
  left: 64%;
}
.wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  background: transparent;
  font-size: 55px;
}
.main {
  width: inherit;
  height: inherit;
  font-family: "Yeseva One", cursive;
}
.main h1 {
  width: 70%;
  /* width: 50%; */
  margin: 0 auto 0 auto;
  color: #ffffff;
  font-size: 0.9em;
  line-height: 1em;
  text-align: center;
  position: relative;
  word-spacing: 6px;
  letter-spacing: 4px;
}
/*.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #34495e;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    top: 50vh;
    left: 70vw;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}
*/
/*.glow-on-hover:active {
    color:#34495e
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background:#34495e;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}*/
:root {
  --clr-neon: white;
  --clr-bg: hsl(323 11% 16%);
}
.glow-on-hover {
  font-size: 1.8rem;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  position: relative;
  text-align: center;
  top: 47vh;
  left: 72.3vw;
  font-family: "Fredoka One", cursive;
}
/*
.glow-on-hover {
    font-size: 4rem;
  
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
  
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  
    position: relative;
  }*/

.glow-on-hover::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--clr-neon);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}

.glow-on-hover::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 0.5em 0.5em var(--clr-neon);
  opacity: 0;
  background-color: var(--clr-neon);
  z-index: -1;
  transition: opacity 100ms linear;
}

.glow-on-hover:hover,
.glow-on-hover:focus {
  color: var(--clr-bg);
  text-shadow: none;
  cursor: none;
}

.glow-on-hover:hover::before,
.glow-on-hover:focus::before {
  opacity: 1;
}
.glow-on-hover:hover::after,
.glow-on-hover:focus::after {
  opacity: 1;
}

.shadow-effect {
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.659);
  /* 0px 3px 3px rgba(255, 255, 255, 0.25),
    2px 6px 3px rgba(255, 255, 255, 0.24),
    4px 9px 3px rgba(255, 255, 255, 0.23),
    6px 12px 3px rgba(255, 255, 255, 0.22),
    8px 15px 3px rgba(255, 255, 255, 0.21),
    10px 18px 3px rgba(255, 255, 255, 0.2),
    12px 21px 3px rgba(255, 255, 255, 0.19); */
  /* 14px 24px 3px rgba(255, 255, 255, 0.18),
    16px 27px 3px rgba(205, 60, 60, 0.17),
    18px 30px 3px rgba(205, 60, 60, 0.16),
    20px 33px 3px rgba(205, 60, 60, 0.15),
    22px 36px 3px rgba(205, 60, 60, 0.14),
    24px 39px 3px rgba(205, 60, 60, 0.13),
    26px 42px 3px rgba(205, 60, 60, 0.12),
    28px 45px 3px rgba(205, 60, 60, 0.11),
    30px 48px 3px rgba(205, 60, 60, 0.1),
    32px 51px 3px rgba(205, 60, 60, 0.09),
    34px 54px 3px rgba(205, 60, 60, 0.08),
    36px 57px 3px rgba(205, 60, 60, 0.06),
    38px 60px 3px rgba(205, 60, 60, 0.05),
    40px 63px 3px rgba(205, 60, 60, 0.04),
    42px 66px 3px rgba(205, 60, 60, 0.03),
    44px 69px 3px rgba(205, 60, 60, 0.02),
    46px 72px 3px rgba(205, 60, 60, 0.01);; */
}
/* .tween-looper{
    backface-visibility: hidden;
    animation: pulse 1s infinite alternate ease-in-out;
    animation-delay: 2s;
    opacity: 0;
} */

/* @keyframes pulse {
    from{
        opacity: 0;
        
    }
    to {
      transform: scale(0.8);
      opacity: 1;
    }
} */
#particles-js {
  overflow: hidden;
}

.footer_container_1 {
  background-color: transparent;
  /* position: relative; */
  width: 100vw;
  padding: auto 6%;
  /* height: 60vh; */
  /* top: 200%; */
}

@media screen and (max-width: 1100px) {
  .container {
    background-color: white;
    color: white;
    position: absolute;
    width: 9vw;
    height: 13vh;
    /* top: -1%; */
    left: 2%;
    border-radius: 0 0 10px 10px;
  }
  .container_timer {
    background-color: transparent;
    height: 25vh;
    width: 30vw;
    position: absolute;
    top: 15%;
    left: 66.5%;
    display: flex;
    flex-direction: row;
  }
  .days_container {
    position: relative;
    background-color: transparent;
    height: 12vh;
    width: 6vw;
    border-radius: 8px;
    box-shadow: 3px 3px 3px grey;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .days_text {
    font-size: 35px;
    /* padding-left: 11px; */
  }
  .hours_text {
    font-size: 35px;
    padding-left: 17px;
  }
  .minutes_text {
    font-size: 35px;
    padding-left: 17px;
  }
  .sec_text {
    font-size: 35px;
    padding-left: 17px;
  }
  .days_char {
    font-size: 15px;
    padding-left: 11px;
  }
  .starts_in_container {
    background-color: transparent;
    position: absolute;
    width: 35vw;
    height: 14vh;
    top: 12%;
    left: 64.5%;
  }
  .main h1 {
    width: 89%;
    /* width: 50%; */
    margin: 0 auto 0 auto;
    color: #ffffff;
    font-size: 0.55em;
    line-height: 1em;
    text-align: center;
    position: relative;
    word-spacing: 6px;
    letter-spacing: 4px;
  }
  .glow-on-hover {
    top: 50vh;
    left: 38vw;
  }
  .glow-on-hover {
    font-size: 1.3rem;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
    position: relative;
    text-align: center;
    top: 40vh;
    left: 72.5vw;
    font-family: "Fredoka One", cursive;
  }
  /* #canvas{
        display: none;
    } */
}
@media screen and (max-width: 901px) {
  body {
    margin: 0px;
    /*background: #191d1e;*/
    background: url("../stars1100px.jpg");
    /* background-repeat: no-repeat; */
    background-size: cover;
    /* overflow: hidden; */
    height: 100%;
    cursor: none;
  }
  .techfest_logo {
    background-color: transparent;
    position: absolute;
    height: 40vh;
    width: 70vw;
    top: 13%;
  }
  .fest_logo_img {
    position: relative;
    width: 55%;
    left: 20%;
  }
  .container {
    background-color: white;
    color: white;
    position: absolute;
    width: 9vw;
    height: 11vh;
    /* top: -1%; */
    left: 2%;
    border-radius: 0 0 10px 10px;
  }
  .container_timer {
    background-color: transparent;
    height: 25vh;
    width: 35vw;
    position: absolute;
    top: 15%;
    left: 64%;
    display: flex;
    flex-direction: row;
  }
  .days_container {
    position: relative;
    background-color: transparent;
    height: 10vh;
    width: 6vw;
    border-radius: 8px;
    box-shadow: 3px 3px 3px grey;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .days_text {
    font-size: 26px;
  }
  .hours_text {
    font-size: 26px;
    padding-left: 16px;
  }
  .minutes_text {
    font-size: 26px;
    padding-left: 17px;
  }
  .sec_text {
    font-size: 26px;
    padding-left: 17px;
  }
  .days_char {
    font-size: 12px;
    padding-left: 11px;
  }
  .starts_in_container {
    background-color: transparent;
    position: absolute;
    width: 35vw;
    height: 14vh;
    top: 14%;
    left: 65%;
  }
  .main h1 {
    width: 89%;
    /* width: 50%; */
    margin: 0 auto 0 auto;
    color: #ffffff;
    font-size: 0.5em;
    line-height: 1em;
    text-align: center;
    position: relative;
    word-spacing: 6px;
    letter-spacing: 4px;
  }
  .glow-on-hover {
    font-size: 1.1rem;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
    position: relative;
    text-align: center;
    top: 40vh;
    left: 73vw;
    font-family: "Fredoka One", cursive;
  }
}
@media screen and (max-width: 751px) {
  .container {
    background-color: white;
    color: white;
    position: absolute;
    width: 9vw;
    height: 10vh;
    /* top: -1%; */
    left: 2%;
    border-radius: 0 0 10px 10px;
  }
  .techfest_logo {
    background-color: transparent;
    position: absolute;
    height: 40vh;
    width: 70vw;
    top: 19%;
  }
  .fest_logo_img {
    position: relative;
    width: 50%;
    left: 15%;
  }
  .glow-on-hover {
    font-size: 1.09rem;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
    position: relative;
    text-align: center;
    top: 44vh;
    left: 67vw;
    font-family: "Fredoka One", cursive;
  }
  .days_container {
    position: relative;
    background-color: transparent;
    height: 10vh;
    width: 6vw;
    border-radius: 8px;
    box-shadow: 3px 3px 3px grey;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .container_timer {
    background-color: transparent;
    height: 25vh;
    width: 37vw;
    position: absolute;
    top: 20%;
    left: 60%;
    display: flex;
    flex-direction: row;
  }
  .days_text {
    font-size: 24px;
    padding-left: 11px;
  }
  .hours_text {
    font-size: 24px;
    padding-left: 11px;
  }
  .minutes_text {
    font-size: 26px;
    padding-left: 11px;
  }
  .sec_text {
    font-size: 26px;
    padding-left: 12px;
  }
  .days_char {
    font-size: 9.5px;
    padding-left: 10px;
  }
  .starts_in_container {
    background-color: transparent;
    position: absolute;
    width: 35vw;
    height: 14vh;
    top: 18.5%;
    left: 61%;
  }
  .main h1 {
    width: 89%;
    /* width: 50%; */
    margin: 0 auto 0 auto;
    color: #ffffff;
    font-size: 0.47em;
    line-height: 1em;
    text-align: center;
    position: relative;
    word-spacing: 6px;
    letter-spacing: 4px;
  }
}
@media screen and (max-width: 673px) {
  .container {
    background-color: white;
    color: white;
    position: absolute;
    width: 9vw;
    height: 9vh;
    /* top: -1%; */
    left: 2%;
    border-radius: 0 0 10px 10px;
  }
  .glow-on-hover {
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
    position: relative;
    text-align: center;
    top: 44vh;
    left: 67vw;
    font-family: "Fredoka One", cursive;
  }

  .logo_clg {
    width: fit-content;
    position: relative;
    width: 64%;
    left: 17%;
    top: 8%;
  }
  .days_text {
    font-size: 24px;
    padding-left: 11px;
  }
  .hours_text {
    font-size: 24px;
    padding-left: 9px;
  }
  .minutes_text {
    font-size: 26px;
    padding-left: 9px;
  }
  .sec_text {
    font-size: 26px;
    padding-left: 9px;
  }
  .days_char {
    font-size: 9.5px;
    padding-left: 8.5px;
  }
  .starts_in_container {
    background-color: transparent;
    position: absolute;
    width: 35vw;
    height: 14vh;
    top: 18.5%;
    left: 61.5%;
  }
  .main h1 {
    width: 89%;
    /* width: 50%; */
    margin: 0 auto 0 auto;
    color: #ffffff;
    font-size: 0.47em;
    line-height: 1em;
    text-align: center;
    position: relative;
    word-spacing: 6px;
    letter-spacing: 4px;
  }
}
@media screen and (max-width: 426px) {
  body {
    margin: 0px;
    /*background: #191d1e;*/
    background: url("../mobilestars.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    cursor: none;
  }
  .techfest_logo {
    background-color: transparent;
    position: absolute;
    height: 40vh;
    width: 100vw;
    top: 19%;
  }
  .fest_logo_img {
    position: relative;
    width: 65%;
    left: 17%;
  }
  #canvas {
    /* position: fixed; */
    display: none;
  }
  .container {
    background-color: white;
    color: white;
    position: absolute;
    width: 9vw;
    height: 7vh;
    /* top: -1%; */
    left: 2%;
    border-radius: 0 0 10px 10px;
  }
  .logo_clg {
    width: fit-content;
    position: relative;
    width: 67%;
    left: 17%;
    top: 15%;
  }
  .starts_in_container {
    display: none;
    background-color: transparent;
  }
  .container_timer {
    background-color: transparent;
    height: 25vh;
    width: 70vw;
    position: absolute;
    top: 46%;
    left: 14%;
    display: flex;
    flex-direction: row;
  }
  .glow-on-hover {
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
    position: relative;
    text-align: center;
    top: 74vh;
    left: 32vw;
    font-family: "Fredoka One", cursive;
  }

  .days_container {
    position: relative;
    background-color: transparent;
    height: 8.9vh;
    width: 10vw;
    border-radius: 8px;
    box-shadow: 3px 3px 3px grey;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media screen and (max-width: 376px) {
  .container {
    background-color: white;
    color: white;
    position: absolute;
    width: 9vw;
    height: 5.5vh;
    /* top: -1%; */
    left: 2%;
    border-radius: 0 0 10px 10px;
  }
  .techfest_logo {
    background-color: transparent;
    position: absolute;
    height: 40vh;
    width: 100vw;
    top: 19%;
  }
  .fest_logo_img {
    position: relative;
    width: 69%;
    left: 16%;
  }
  .logo_clg {
    width: fit-content;
    position: relative;
    width: 67%;
    left: 17%;
    top: 15%;
  }
  .container_timer {
    background-color: transparent;
    height: 25vh;
    width: 90vw;
    position: absolute;
    top: 43%;
    left: 5%;
    display: flex;
    flex-direction: row;
  }
  .days_container {
    position: relative;
    background-color: transparent;
    height: 9vh;
    width: 11vw;
    border-radius: 8px;
    box-shadow: 3px 3px 3px grey;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .glow-on-hover {
    font-size: 1.1rem;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
    position: relative;
    text-align: center;
    top: 75vh;
    left: 28vw;
    font-family: "Fredoka One", cursive;
  }
}

@media screen and (max-width: 321px) {
  .container {
    background-color: white;
    color: white;
    position: absolute;
    width: 9vw;
    height: 6vh;
    /* top: -1%; */
    left: 2%;
    border-radius: 0 0 10px 10px;
  }
  .container_timer {
    background-color: transparent;
    height: 25vh;
    width: 75vw;
    position: absolute;
    top: 43%;
    left: 12%;
    display: flex;
    flex-direction: row;
  }
  .days_container {
    position: relative;
    background-color: transparent;
    height: 8vh;
    width: 12vw;
    border-radius: 8px;
    box-shadow: 3px 3px 3px grey;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .glow-on-hover {
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
    position: relative;
    text-align: center;
    top: 75vh;
    left: 27.5vw;
    font-family: "Fredoka One", cursive;
  }
  .days_text {
    font-size: 19px;
    padding-left: 11px;
  }
  .hours_text {
    font-size: 19px;
    padding-left: 11px;
  }
  .minutes_text {
    font-size: 19px;
    padding-left: 11px;
  }
  .sec_text {
    font-size: 19px;
    padding-left: 11px;
  }
  .days_char {
    font-size: 7px;
    padding-left: 10px;
  }
}
/* .wrapper {
    margin-left: 5%;
    margin-right: 5%;
  } */
.footer .arrange-left {
  float: left;
}

.footer.wid-25 {
  width: 25%;
}
.footer.next-row {
  clear: both;
}
.footer.margin-right-5 {
  margin-right: 5%;
}
.landing-page .footer {
  /* margin-left: -5.5%;
    margin-right: -5.5%;
    padding-left: 5.5rem;
    padding-right: 6rem;
    padding-top: 150px; */
  padding-bottom: 7px;
  display: flex;
  color: white;
  width: 100vw;
  position: relative;
  /* height: 40vh; */
  /* z-index: 100; */
}
/* .contact-list{
  padding-left: 120px;
 } */
.contact-list ul {
  list-style-type: none;
}
.contact-list ul li {
  text-decoration: none;
}
.footer .contact-list {
  padding-top: 37px;
  /* padding-right: 22px; */
  list-style-type: none;
  line-height: 2.5;
}
.footer .contact-list .icon {
  color: #d19c97;
  width: 25px;
}
.footer .address {
  padding-top: 37px;
  list-style-type: none;
  line-height: 2.5;
  float: left;
}
.address {
  padding-left: 80px;
}
.footer.contact-list ul {
  list-style-type: none;
  margin-bottom: 3rem;
  /* text-decoration: none; */
}
.address ul {
  list-style-type: none;
  /* text-decoration: none; */
}
.address ul li {
  text-decoration: none;
}
.footer .address #h3 {
  padding-left: 0;
  text-decoration: none;
}
.footer .address .icon {
  color: #d19c97;
  width: 25px;
}
.need-help {
  padding-left: 110px;
}
.need-help ul {
  list-style-type: none;
  padding: 0;
  line-height: 2;
}
.need-help ul a {
  text-decoration: none;
  color: white;
}
.need-help ul a i {
  padding-right: 5px;
}

.footer .need-help {
  padding-top: 50px;
}
.legal {
  padding-top: 50px;
  padding-left: 100px;
}
.footer .legal ul {
  list-style-type: none;
  padding: 0;
  line-height: 2;
}
.footer .legal ul a {
  text-decoration: none;
  color: white;
}
.footer .legal ul a i {
  padding-right: 5px;
}

.footer .footer-input {
  border: none;
  width: 80%;
  height: 50px;
  margin-bottom: 25px;
  font-size: 18px;
  padding-left: 15px;
}
.footer .footer-button {
  border: 0;
  background-color: #d19c97;
  padding: 15px;
  width: 80%;
  font-size: 18px;
}

.copy-right {
  /* margin-left: -9.5%;
    margin-right: -9.5%; */
  /* padding-left: 11%; */
  /* padding-right: 20%; */
  /* padding-top: 1px; */
  /* padding-bottom: 1px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: black;
  width: 100vw;
}
.follow {
  /* float: left; 
        */
  padding-right: 50px;
}
footer {
  position: relative;
  top: 50%;
  /* bottom: 0; */
  background-color: rgba(0, 0, 0, 0.226);
}

.scrolldesign {
  /* margin-top: 300px; */
  width: 100%;
  /* height: 600px; */
  overflow: auto;
  /* white-space: nowrap; */
  /* padding: 5px 70px 5px 20px; */
  background: transparent;
  /* height: 100%; */
  border-radius: 15px;
  color: white;
  /* overflow-y: auto; */
  scrollbar-width: none;
  overflow-x: scroll;
}

.scrollView {
  scroll-behavior: auto;
  display: inline-flex;
  overflow-x: hidden;
  /* scrollbar-width: none; */
}

.scrollView section {
  width: 60vw;
  height: 100%;
  word-wrap: break-word;
  overflow: hidden;
  margin: 0px 19vw;
  text-align: center;
  background-color: transparent;
}

.scrollView section .block .details p {
  word-wrap: break-word;
  width: 100%;
  height: 100%;
}

/* .scrollView {
  overflow-y: auto;
  overflow-x: hidden;
  transform-origin: right top;
  transform:rotate(-90deg) translateY(-100px);
} */

/* .scrollView >section {
  transform: rotate(90deg);
  transform-origin: right top;
} */
