/* Nav Bar */
body{
    font-family: Verdana;
    background: url(../images/stars.jpg);
    /* padding-left: 2%; */
    /* padding-top: 2%; */
    margin: 0;
    color: white;
    background-color: black;
}

.navDesign{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.navDesign a{
    text-decoration: none;
    color: white;
    background: transparent;
    backdrop-filter: blur(2px);
}

.navDesign a h1{
    font-size: 20px;
    margin: 0;
    padding: 10px;
}

.navDesign a:hover{
    background-color: rgba(255, 255, 255, 0.398);
    transform: scale(1.1);
}

.alreadyPage{
    background-color: rgba(255, 255, 255, 0.398) !important;
}

.HeadingEvent{
    width: fit-content;
    margin: auto;
    margin-top: 50px;
}

.events .ongo{
    margin: 50% 0 2% 0;
    padding-left: 8%;
    font-family: 'Princess Sofia', cursive;
    font-size: 400%;
}

.events .main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.events .container{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-evenly;
    width: 300px;
    height: 300px;
    word-wrap:normal;
    margin: 30px;
    /* padding: 3% 3% 3% 3%; */
    background-color: rgba(92, 156, 212, 0.192);
    border-radius: 2%;
    /* margin-bottom: 3%; */
    overflow: hidden;
    cursor: pointer;
    position: relative;
    /* border: 2px solid white; */
}

.events .container img{
    width: 100%;
    height: 100%;
}

.events .alltext{
    /* margin-left: 10%; */
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 800ms ease-in-out;
}

.events .container:hover .alltext{
    opacity: 1;
}

.events .container:hover img{
    opacity: .3;
}

.events .alltext h1{
    width: fit-content;
    text-align: center;
    height: 100px;
    color:rgb(239, 236, 167);
    font-size: 30px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.events .alltext p{
    width: fit-content;
    text-align: center;
    color: white;
    height: 100px;
    /* scroll-behavior: auto; */
    margin: 0;
    overflow: hidden;
    padding: 10px;
}


/* register button*/
.events .main .container button{
    text-align: center;
    background: transparent;
    /* background-color: blueviolet; */
    height:fit-content;
    font-size: 18px;
    /* height: 50px; */
    width: fit-content;
    /* margin: 2% 10% 2% 32%; */
    text-transform: uppercase;
    color:aliceblue;
    border: 2px solid white;
    cursor: pointer;
    margin: 10px;
    padding: 10px;
}
.events .alltext .button:hover{
    background-color: white;
    color: black;
}


/* FOOTER SECTION */

footer {
    color: white;
    font-family: Verdana;
    margin-top: 80px;
    padding-top: 40px;
    background-color: rgba(0, 0, 0, 0.482);
  }
  
  .sectionB_footer {
    margin: auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: white;
  }
  
  .sectionB_footer .social {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .sectionB_footer .social a {
    color: rgb(174, 173, 173);
  }
  
  .sectionB_footer .social a .fa-brands {
    font-size: 24px;
    transition: 800ms ease-in-out;
  }
  
  .sectionB_footer .social a .fa-brands:hover {
    transform: scale(1.4);
    color: white;
  }
  
  .sectionB_footer .copyright p {
    margin: 0;
    padding: 0 50px;
  }
  
  .sectionC_footer {
    text-align: center;
  }
  
  .sectionC_footer p {
    font-size: 20px;
    margin: 0;
    padding: 10px;
  }
  
  .sectionC_footer a {
    color: white;
    text-decoration: none;
  }